* {
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    margin: 0 auto;
}

body {
    background-color: rgba(129, 187, 189, 0.404);
}

a {
    color:rgb(114, 96, 96);
}

a:hover {
    color: rgba(66, 15, 55, 0.521);
}

img {
    display: inline;
    max-height: 50%;
    max-width: 75vw;
    padding: 10px;
}

li {
    list-style-type: none;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

h1 {
    padding: 10px;
    margin: 25px 0 0 0;
}

h2 {
    padding: 0;
}

h3 {
    padding: 0px 10px;
}

.navbar {
    background-color: rgba(188, 132, 202, 0.315);
}

.logoutprofile {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.container {
    padding: 69px;
    display: flex;
    justify-content: center;
}

.field {
    display: flex;
    justify-content: center;
    padding: 10px, 20px;
    width: 35vw;
}

.hidden {
    display: none;
}

.signupLogin {
    font-size: xx-large;
}

.myParksDiv {
    border: violet;
    border-style: groove;
    border-width: 1px;
    padding: 10px;
}

.myParksBottom {
    display: inline-flex;
    justify-content: space-around;
    padding: 0px 20px 0px 40px;
    margin: 0px 20px 0px 40px;
}

/* .park-tab {
    height:15vh;
    width:100vw;
} */

#addPark {
    background-color: brown;
    color: whitesmoke;
}

#search {
    width: 300px;
    height: 100px;
}

#uploadText {
    width: 66vw;
    height: 15vw;
}