* {
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    margin: 0 auto;
    /* background-image: url('/graphics/cave1.jpeg'); */
}

a:link {
    color:rgb(39, 36, 36);
}

a:hover {
    color: tomato;
}

a:visited {
    color: rgb(90, 30, 90);
}

img {
    display: inline;
    max-height: 50%;
    max-width: 75vw;
    padding: 10px;
}

li {
    list-style-type: none;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

h1 {
    padding: 10px;
    margin: 25px 0 0 0;
}

h2 {
    padding: 0;
}

h3 {
    padding: 0px 10px;
}

.navbar {
    background-color: rgba(26, 24, 23, 0.438);
}

.logoutprofile {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.container {
    padding: 69px;
    display: flex;
    justify-content: center;
}

.field {
    display: flex;
    justify-content: center;
    padding: 10px, 20px;
    width: 35vw;
}

.hidden {
    display: none;
}

#addPark {
    background-color: brown;
    color: whitesmoke;
}

#search {
    width: 300px;
    height: 100px;
}

#uploadText {
    width: 66vw;
    height: 15vw;
}