<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="navbar">
            <li><a href="/home">Home</a></li>
            <li><a href="/parks">Parks</a></li>
            <li><a href="/myparks">myParks</a></li>
    </div>
    <h1>Welcome to myParks</h1>
    <br><br>
    <h3>a social application for national park visitors</h3>
    <br><br>
    <form action="/home" method="POST">
        <div class="searchParks">
            <input type="text" id="search" name="searchList" list="theData" placeholder="search parks">
            <datalist id="theData">
                <% for( let i = 0; i < parks.length; i++ ) { %>
                <% let park = parks[i].toJSON(); %> 
                <option value="<%= park.fullName %>"></option>
                <% } %>
            </datalist>
            <input type="submit" value="Go">
        </div>
    </form>
    <br><br><br>
    <div class="logoutprofile">
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/profile">Profile</a></li>
    </div>
</body>
</html>
