<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <div class="navbar">
        <li><a href="/home">Home</a></li>
        <li><a href="/parks">Parks</a></li>
        <li><a href="/myparks">myParks</a></li>
    </div>
    <h1>myParks</h1>
    <br><br>
    <div class="myParksDiv">
        <% for( let i = 0; i < myPark.length; i++ ) { %>
            <% let m = myPark[i]; %> 
            <% m = m.toJSON(); %> 
            <div class="myParksDiv">
                <h2><%= m.fullName %></h2>
                <div class="myParksBottom">
                    <form action="memories/<%= m.id %>">
                        <input type="submit" value="Memories">
                    </form>
                    <form method="POST" action="/myparks/?_method=DELETE">
                        <input type="submit" class="deleteButton" value="Delete From myParks">
                        <label class="hidden" for="myParksId">ID:</label>
                    <input type="text" class="hidden" id="myParksId" name="myParksId" value="<%= m.id %>">
                </form>
                </div>
            </div>
            <br>
            <% } %>
    </div>
    <div class="logoutprofile">
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/profile">Profile</a></li>
    </div>
</body>